{% extends 'gallery/base.html' %}

{% block content %}
<h2>Upload Artwork</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title"><br><br>
    <textarea name="description" placeholder="Description"></textarea><br><br>
    <input type="file" name="image"><br><br>
    <button type="submit">Upload</button>
    <select name="gallery">
        {% for gallery in galleries %}
            <option value="{{ gallery.id }}">
                {{ gallery.name }}
            </option>
        {% endfor %}
    </select>
</form>

{% endblock %}
